@import "https://fonts.googleapis.com/css?family=Work+Sans";
body {
  font-family: 'Work Sans', sans-serif;
  background-size: 100%;
  margin: 0;
}
.background-image {
  background-image: url('../images/splash_bg.jpg');
  background-size: 100%;
  width: 100%;
  height: 950px;
  position: relative;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.container {
  color: white;
  background-color: #fe9753;
  position: absolute;
  margin: 15% auto;
  width: 800px;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
}
